<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Class</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="app" class="container">
        <div class="row p-5">
            <h1 v-text="sitename" class="mx-auto"></h1>
        </div>
        <div v-if='showProduct'>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">

                    <div class="row">

                        <div v-for="lesson in lessons">
                            <main class="ml-5">
                                <figure class="float-right">
                                    <img class="img-thumbnail " width="200" v-bind:src="lesson.image">
                                </figure>
                                <div class="float-left">
                                    <p class="text-info">Subject: <span class="text-dark"
                                            v-text="lesson.subject"></span>
                                    </p>
                                    <p class="text-info">Location: <span class="text-dark"
                                            v-text="lesson.location"></span>
                                    </p>
                                    <p class="text-info">Price: <span class="text-dark">$</span><span class="text-dark"
                                            v-text="lesson.price"></span>
                                    </p>
                                    <p class="text-info">Spaces: <span class="text-dark">{{lesson.spaces -
                                            cartCount(lesson)}}</span></p>
                                    <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)"
                                        class=" btn btn-success"> Add
                                        to cart</button>
                                    <!-- This button will be displayed otherwise -->
                                    <button v-else type="button" class="  btn btn-danger" disabled=' disabled'>
                                        Sold out</button>


                                    <br><br>
                                    <div>
                                        <span v-for='n in lesson.rating'><i class="fas fa-star"></i></span>
                                        <span v-for='n in 5-lesson.rating'><i class="far fa-star"></i></span>
                                    </div>
                                    <br><br>
                                </div>
                            </main>


                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div v-if="cartItemCount > 0">
                        <h2 class="text-center">Shopping Cart</h2>

                        <div class="row">
                            <div class="col-md-8 offset-2">
                                <table class="table mt-5">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <div>
                                        <tr v-for="lesson in cart">
                                            <td>
                                                <p class="text-dark"> {{lesson.subject}}
                                                    </i>
                                                </p>
                                            </td>
                                            <td>{{lesson.location}}</td>
                                            <td>${{lesson.price}}</td>
                                            <td><i v-on:click="removeCart(lesson)" class=" mr-auto fas fa-trash"></td>
                                        </tr>
                                    </div>
                                </table>
                                <br>
                                <button class=" float-right btn btn-success" v-on:click='showCheckout'>Checkout</button>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <h2 class="text-center">Cart Empty</h2>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-3">Enter your Information</h2>

                    <form>
                        <div class="form-group">

                            <label>Full Name:</label>
                            <input type="text" pattern="[^0-9]+" required class="form-control" v-model.text="order.name"
                                id="inputName">
                            <br>
                            <label>Email:</label>
                            <input type="email" required class="form-control" v-model="order.email" id="inputEmail">
                            <br>
                            <label>Mobile:</label>
                            <input type="number" required class="form-control" v-model="order.mobile" id="inputMobile">
                            <br>
                        </div>
                    </form>
                    <h2>Order Confirmation</h2>
                    <label class="form-control" readonly>Name: {{order.name}}</label>
                    <label class="form-control" readonly>Email: {{order.email}}</label>
                    <label class="form-control" readonly>Mobile: {{order.mobile}}</label>
                    <label class="form-control" readonly>Total: ${{total}}</label>
                    <br>
                    <button type="button" v-on:click="submitForm(order)" class="btn btn-info float-right">Place
                        Order</button>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Cart</h2>
                    <button v-on:click='showCheckout' type="button" class="btn btn-link float-right"> Edit Cart</button>
                    <table class="table mt-3 table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Subject</th>
                                <th scope="col">Location</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <div>
                            <tr v-for="lesson in cart">
                                <td>
                                    <p> {{lesson.subject}}
                                    </p>
                                </td>
                                <td>{{lesson.location}}</td>
                                <td>${{lesson.price}}</td>
                            </tr>
                        </div>
                    </table>

                </div>

            </div>
        </div>
    </div>

    <script>
        let app = new Vue({ //initialising Vue
            el: '#app',
            data: {
                sitename: 'After School Classes and Activities',
                lessons: [],
                final_order: [],
                product_id: [],
                order:
                {
                    name: '',
                    email: '',
                    mobile: '',
                    total: ''
                },

                cart: [],
                showProduct: true,
                sortOrder: '',


            },
            //Retrieving all the lessons from server
            created: function () {
                fetch('https://webappvuejs.herokuapp.com/collection/products').then(function (response) {
                    response.json().then(
                        function (json) {
                            app.lessons = json;
                        });
                })
            }
            ,
            methods: {
                //adding items to cart
                addToCart(lesson) {
                    lesson.quantity -= 1
                    this.cart.push(lesson);
                    const obj = { lesson_id: lesson.id, Subject: lesson.subject, Location: lesson.location }
                    this.final_order.push(obj)
                    this.product_id.push(lesson._id)
                    // Storing the cart information insdie the array


                },
                //removing items from cart
                removeCart(lesson) {
                    this.cart.splice(this.cart.indexOf(lesson), 1)
                    this.final_order.splice(this.final_order.indexOf(lesson), 1)
                    this.product_id.splice(this.product_id.indexOf(lesson), 1)
                    lesson.quantity += 1;

                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm(order) {
                    var name = document.getElementById('inputName').value

                    if (order.name === "") {
                        alert("Enter Name")
                    } else {
                        if (typeof name === 'string' || name instanceof string) {
                            if (order.email === "") {
                                alert('Enter Email')
                            } else {
                                if (order.mobile === "") {
                                    alert("Enter Mobile")
                                }
                                else {
                                    alert("Order Submitted")
                                    //calling the function to insert orders
                                    this.insertOrder(order)
                                    //calling the function to update lessons
                                    this.updateOrder()
                                }
                            }
                        } else {
                            alert("Enter text only for name")
                        }
                    }
                },
                //inserting order details into database
                insertOrder(order) {
                    const newProduct = {
                        name: order.name, email: order.email, mobile: order.mobile, lesson: this.final_order, spaces: this.product_id.length, total_price: this.total
                    };
                    //set the url to your server and route
                    fetch('https://webappvuejs.herokuapp.com/collection/orders', {
                        method: 'POST', // set the HTTP method as 'POST'
                        headers: {
                            'Content-Type': 'application/json', // set the data type as JSON  
                        }, body: JSON.stringify(newProduct), // need to stringify the JSON object
                    }).then(response => response.json()).then(responseJSON => { console.log('Success:', responseJSON); });
                },
                //Updating the quantities after each order is placed
                updateOrder() {

                    var counter = {};
                    this.product_id.forEach(function (i) { counter[i] = (counter[i] || 0) + 1; });
                    for (const id in counter) {
                        fetch('https://webappvuejs.herokuapp.com/collection/products/' + id).then(function (response) {
                            response.json().then(
                                function (json) {
                                    fetch("https://webappvuejs.herokuapp.com/collection/products/" + id, {
                                        method: 'PUT',
                                        mode: "cors",
                                        cache: "no-cache",
                                        credentials: "same-origin",
                                        headers: {
                                            'Content-Type': 'application/json'
                                        }, body: JSON.stringify({

                                            quantity: json.quantity - counter[id],
                                            spaces: json.spaces - counter[id],
                                            purchased: json.purchased + counter[id]
                                        }
                                        ), // need to stringify the JSON object
                                    }).then(response => response.json()).then(responseJSON => { console.log('Success:', responseJSON); });
                                });
                        })
                    }
                    window.location.reload(); //reloading the page after order is placed to avoid negative spaces

                },
                canAddToCart(lesson) {
                    return lesson.spaces > this.cartCount(lesson);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    } return count;
                }

            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length;
                },

                total() {
                    var total = 0;
                    for (var i = 0; i < this.cart.length; i++) {
                        total = total + this.cart[i].price;
                    }
                    return total;
                }
            }
        });
    </script>
</body>


</html>